
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Imperial+Script&family=Moon+Dance&family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Alice", serif;
  background-color: #fff3ee;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.Playfair-Display {
  font-family: "Playfair Display", serif;
  font-weight: 400px;
  font-style: normal;
  align-self: flex-start;
  margin-top: 70px;
  margin-left: -5%;
  width: 100%;
  font-size: 75px;
}

.Imperial-Script {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
  align-self: flex-end;
  margin-bottom: 80px;
  font-size: 80px;
  white-space: nowrap; /*Não deixa que o texto fique em duas linhas, somente em uma*/
}

.header {
  background-color: #f4a180;
  display: flex;
  width: 100%;
  height: var(--tamanho-header);
  border-bottom: 2px solid #da7d30;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
}

.header a {
  text-decoration: none;
  align-items: center;
  color: #2d0901;
  font-size: 22px;
}

.agora {
  font-weight: 800;
}

.navbar1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
  gap: 160px; /*espaco entre itens*/
}

.navbar2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
  margin: 1%;
  gap: 20px;
}

.header h2 {
  margin: 0;
  color: #2d0901;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: url('../assets/imgs/ballerina-home.jpg');
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 40%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #ea906c;
  display: flex;
  align-items: center;
}

.sobre {
  background-color: #fff3ee;
  display: flex;
  align-items: center;
}

.social .container {
  justify-content: center;
}



.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  display: flex;
  text-align: center;
  margin-right: 70px;
  font-size: 25px;
  font-family: "Lora", cursive;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  margin-left: -40px;
  width:100px;
  align-items: flex-start;
}

.img2 {
  margin-right: -120px;
  width:100px;
  align-items: flex-start;
}

.img-sobre {
  margin-top: 20px;
  position: absolute;
  right: 0;
}

.img-titulo {
  margin-top: 20px;
  margin-right: 130px;
  width: 100%;
  height: auto;
  align-items: center;
}

.p{
  font-family: "Alice", serif;
  margin-top: -250px;
  margin-left: 95px;
  width: 100%;
  align-items: center;
  font-size: 58px;
  white-space: nowrap;
}

.texto-sobre{
  display: flex;
  text-align: center;
  font-family: "Merriweather", serif;
  margin-top: 290px;
  margin-left: -960px;
  width:60%;
  font-size: 22px;
}

.button{
  bottom: 150px;
  margin-left: -510px;
  margin-top: 800px;
}

.botao{
  font-family: "Alice", serif;
  font-size: 19px;
  height: 40px;
  width: auto;
  padding: 0 30px;
  color: white;
  border-radius: 20px;
  background-color: #f79872;
  border: none;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  margin-bottom: 70px;
}

.botao:hover {
  background-color: #d67751;
}

#valores {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}

.valores img {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
}

.valores-formatados{
 flex-direction: row;
 display: flex;
 gap: 100px;
 background-color: #fff3ee;
 padding: 50px;
 margin: 20px;
}

.disciplina{
  border-radius: 50px;
  background-color: #ffc2aa;
  margin-left: 40px;
  width: 18%;
  text-align: center;
  height: 250px;
  font-size: 22px;
}

.persistencia{
  border-radius: 50px;
  background-color: #ffc2aa;
  width: 18%;
  text-align: center;
  height: 250px;
  font-size: 22px;
}

.sensibilidade{
  border-radius: 50px;
  background-color: #ffc2aa;
  text-align: center;
  width: 18%;
  height: 250px;
  font-size: 22px;
}

.constancia{
  border-radius: 50px;
  background-color: #ffc2aa;
  text-align: center;
  width: 18%;
  height: 250px;
  font-size: 22px;
}

.valores-formatados p{
  margin: 25px;
}

/* FOOTER */

#footer {
  margin-top: 350px;
  background-color: #faae8f;
  height: 300px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.imagem img{
  width: 100%;
 margin-left: 0px;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}
/*
.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}*/

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}
